body {
  text-align: center;
  font-family: "dongle";
}
#할일들 > p {
  cursor: pointer;
}

button {
  background-color: skyblue;
  border: none;
  transition-duration: 0.4s;
}
button:hover {
  background-color: cornflowerblue;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: grey;
}
input {
  border: none;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  cursor: pointer;
}
